/* .loader-icon {
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: 50%;
    box-shadow: -10px 8px 0 18px inset #fff;
    animation: rotate 2s ease-in infinite alternate;
    background-color: white;
  }
  .loader-icon::before {
    content: '';
    position: absolute;
    left: 14px;
    bottom: 16px;
    background: #FF3D00;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: scale 1s ease-in infinite alternate;
  }
  @keyframes rotate {
    100% { transform: rotate(750deg)}
  }
  @keyframes scale {
   100% { transform: scale(0.5) translateY(5px)}
  } */
  .loader-icon {
    border: 2px solid #FFF;
    width: 48px;
    height: 48px;
    background: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader-icon::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 24px solid;
    border-color: transparent #FFF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 